
/* Home Page */
/* NavBar */

.hidden{
    display: none;
}

/* Home Page Message */

#greeting{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 120px;
}

#projectText {
    display: flex;
    flex:wrap;
    align-items: flex-end;
}

#projectTitle {
    text-align: center;
    text-decoration: underline;
}

footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position:fixed;
    bottom:0;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: left;
  }
  


